#ddev-generated
# Remove the line above if you don't want this file to be overwritten when you run
# ddev get ddev/ddev-selenium-standalone-chrome
#
# This file comes from https://github.com/dustinleblanc/ddev-chrome-headless
#
web_environment:
  - BROWSERTEST_OUTPUT_DIRECTORY=/tmp
  - BROWSERTEST_OUTPUT_BASE_URL=${ddev_primary_url}
  - SIMPLETEST_BASE_URL=${ddev_primary_url}
  - SIMPLETEST_DB=mysql://db:db@db/db
  - DRUPAL_TEST_BASE_URL=${ddev_primary_url}
  - DRUPAL_TEST_DB_URL=mysql://db:db@db/db
  - DRUPAL_TEST_WEBDRIVER_W3C=true
  # --window-size=1920,1080 is needed to fix random timeouts in tests. See: https://community.latenode.com/t/selenium-webdriver-timeout-issue-when-running-in-headless-mode-with-c/21952/4
  - DRUPAL_TEST_WEBDRIVER_CHROME_ARGS=--disable-dev-shm-usage --disable-gpu --headless --dns-prefetch-disable --window-size=1920,1080
  - DRUPAL_TEST_CHROMEDRIVER_AUTOSTART=false
  - DRUPAL_NIGHTWATCH_SEARCH_DIRECTORY=../
  - DRUPAL_NIGHTWATCH_IGNORE_DIRECTORIES=node_modules,vendor,.*,sites/*/files,sites/*/private,sites/simpletest
  - DRUPAL_NIGHTWATCH_OUTPUT=reports/nightwatch
  # DTT
  - DTT_BASE_URL=${ddev_primary_url}
  - DTT_API_URL=http://chrome-headless:9222
